@layer base {
	body {
		@apply bg-bg-subtle;
	}

	.main-layout-container {
		width: 100%;
		margin: 0 auto;
		padding: 0 1rem;

		@media (width >= 40rem /* 640px */) {
			max-width: 40rem /* 640px */;
		}
		@media (width >= 48rem /* 768px */) {
			max-width: 48rem /* 768px */;
		}
		@media (width >= 64rem /* 1024px */) {
			max-width: 64rem /* 1024px */;
		}
		@media (width >= 80rem /* 1280px */) {
			max-width: 80rem /* 1280px */;
		}
		@media (width >= 102rem /* 1632px */) {
			max-width: 102rem /* 1632px */;
		}
	}
}
